.env
.venv/
venv/
target/

.vscode/
.idea
*.iws
*.iml
*.ipr
.idea/sonarlint/
.idea/**/sonarlint/
.idea/**/sonarIssues.xml
out/

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

logs/
temp/
*.tmp
.history/
*.stackdump
dump/
__pycache__/
*.obsidian